{% extends "includes/layout.html" %}

	{% block content %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

			<div class="row justify-content-center mt-5 mb-5">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
					<form action="{{ URLROOT }}/users/login" method="post" class="card">
						
						<div class="card-header bg-dark text-primary">
							<h1 class="text-center text-uppercase">Login</h1>	
							<div id="loginMessage">
								{% if data.csrf_token_error %}
									<p class="text-center alert alert-danger">{{ data.csrf_token_error }}</p>
								{% endif %}
								{% if data.login_email_error  %}
									<p class="text-center alert alert-danger">{{ data.login_email_error }}</p>
								{% elseif data.login_password_error %}
									<p class="text-center alert alert-danger">{{ data.login_password_error }}</p>
								{% endif %}
							</div>
						</div>

						<div class="card-body">	
							<input type="hidden" name="__csrf_value" value="{{ data.getCsrfToken }}">
							<div class="form-group">
								<label for="login_email">Email: *</label>
								<input type="email" name="login_email" id="login_email" class="form-control" required>
							</div>	
							<div class="form-group">
								<label for="login_password">Password: *</label>
								<input type="password" name="login_password" id="login_password" class="form-control" required>
							</div>	
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
									<input type="submit" name="submit" class="btn btn-primary w-100" id="register_btn" value="LOGIN">
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"><a href="{{ URLROOT }}/users/register" class="btn btn-default w-100">NEW? REGISTER HERE</a></div>
							</div>
						</div>

					</form>
				</div>
			</div>
			
		</div>
	{% endblock %}
