{% extends "includes/layout.html" %}

	{% block content %}
		<div class="col-md-6 col-sm-12">
			<div class="row justify-content-center" id="register_div">
				<div class="col-md-12  col-sm-12 text-center" id="register">
					<a href="{{ URLROOT }}/users/register">REGISTER</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="row justify-content-center" id="login_div">
				<div class="col-md-12 col-sm-12 text-center" id="register">
					<a href="{{ URLROOT }}/users/login">LOGIN</a>
				</div>
			</div>
		</div>		
	{% endblock %}
