{% extends "includes/layout.html" %}

	{% block content %}
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4 mb-4">

			<div class="row justify-content-between">

				<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
					<div class="card bg-dark text-primary">
						<div class="card-header">
							<div class="d-flex justify-content-between">
								<p class="p-2">
									CREATED: <span class="badge badge-secondary">{{ data.post.created_at }}</span>
									BY: <span class="badge badge-secondary"><a href="{{URLROOT}}/users/show/{{ data.post.username }}">{{ data.post.username }}</a></span>
								</p>
							<script src="{{ URLROOT }}/js/like.js"></script>	
							{% if data.isLiked %}
								<button class="p-2 btn btn-link" id="dislike" onclick="dislikePost( {{data.post.id}} )"><img src="{{ URLROOT }}/images/dislike.png" id="like-btn"></button>				
							{% else %}
								<button class="p-2 btn btn-link" id="like" onclick="likePost( {{data.post.id}} )"><img src="{{ URLROOT }}/images/like.png" id="like-btn"></button>						
							{% endif %}
 							</div>
 							<h1 class="text-center">{{ data.post.title }}</h1>
						</div>
						<div class="card-body">
							<img src="{{ URLROOT }}/{{ data.post.image }}" id="post-image">
							<p>{{ data.post.body }}</p>
						</div>
					</div>

					<hr>

					<!-- POST COMMENT -->
					<script src="{{ URLROOT }}/js/comment.js"></script>
					<div id="commentMSG">msg</div>
					<form id="commentForm">
						<input type="hidden" name="post_id" id="post_id" value="{{ data.post.id }}">
						<div class="form-group">
							<label for="comment">Comment:</label>
							<textarea name="comment" id="comment" class="form-control" required></textarea>
						</div>
						<input type="submit" name="submit" value="CREATE" class="btn btn-info w-100">
					</form>
					
				</div>

				<!-- COMMENTS -->
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
				{% if data.comments is not empty %}
					{% for comment in data.comments %}
					<div class="media border p-3">
						<img src="{{ URLROOT }}\{{ comment.profile_image }}" alt="{{ comment.username }}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
						<div class="media-body">
							<h4><a href="{{ URLROOT }}/users/show/{{ comment.id }}">{{ comment.username }}</a> <small><i>Posted on {{ comment.created_at }}</i></small></h4>
							<hr>
							<p>{{ comment.comment }}</p>
						</div>
					</div>			
					{% endfor %}
				{% else %}
					<div class="alert alert-warning text-center">no comments!</div>
				{% endif %}
				</div>
					
			</div>
			
		</div>
	{% endblock %}